#root {
  margin: 0 auto;
  text-align: center;
}

.app{
  width: 100vw;
  height: 100vh;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.bac{
  background-color: #eeeff4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  
}
p{
  margin: 0px;
}
h4{
  margin: 0px;
}