// opacity: open ? 1 : 0 ,transition:"0.2s",paddingLeft:open? "0px":"10px"
.mainContentWrapper{

    margin-top:20px;
    box-sizing:border-box;
    padding:0px;
    height:auto;
    gap: 20px;
    z-index: 10000;
    margin-left: 275px;
    width: calc(96% - 240px);

    
    .chartWrapper{
        height: 180px;
        max-width: 1400px;
        padding: 20px;
        box-sizing: border-box;
        width: calc(96vw - 240px);
        margin: 0 auto;
        justify-content: space-between;
        padding: 0px;
        gap:10px;
         .chart{
            box-shadow: 0px 2px 10px rgba(50, 71, 92, 0.1);
            border-radius:8px;
            height: 180px;
         }
         .xl{
            width: 66%;
         }
         .s{
            width: 15%;
         } 
    }
}
.userContent{
   z-index: 2;
   position: relative;
}
.app{
   .Analytics{
      .RevenuechartWrapper{
         height: 364px;
      }
   }
}

.Analytics{

   height: auto !important;
   .congradulation{
      height: 180px;
      box-sizing: border-box;
      padding: 20px;
      
      h4{
         height: 25px;
         font-weight: 550;
      }
   }
   .contentWrapper{
      justify-content: space-between;
      img{
         width: 220px;
         height: 150px;
         margin-right: 30px;
      }
      position: relative;
      .conButton{
         height: 32px;
         font-size: 14px;
         width: 115px;
         outline-width: 2px;
         background-color: rgba(255, 255, 255, 0);
         line-height: 0px;
         border:1px solid rgb(105, 108, 255);
         border-radius: 4px;
         position: relative;
         margin-left: 12px;
      }
   }
   .orderWrapper{
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: absolute;
      top: 25px;
      display: flex;
      left: 0px;
   }
   .sales{
      justify-content: left;
      margin-right: 0px;
      margin-left: 0px;
      box-sizing: border-box;
      .changingText{
         padding:0px;
         width: auto;
         color: rgb(113, 221, 55);
      }
      h6{
         margin: 0px;
         h4{
            margin-top: 6px;
         }
      }
      svg{
         width: 16px;
         height: 16px;
         margin-right: 8px;
         color: rgb(113, 221, 55);
      }
      img{
         margin-bottom: 8px;
      }
   }

   .totalRevenue{
      height: 364px !important;
      box-sizing: border-box;
      padding: 20px;
      position: relative;
      overflow: hidden;
      .leftWrapper{
         border-right: 0.5px solid rgb(230,230,230);
      }
      .ChartBlock{
         position: relative;
         align-items: center;
         top:-40px;

         
         .Percent{
           position: absolute;
           top: 80px;
           font-size: 20px;
           padding-left: 0px;
           margin-right: 5px;
         }
         .growth{
           position: absolute;
           top: 114px;
           padding-left: 0px;
           margin-right: 5px;
         }
         canvas{
            position: relative !important;
            margin:0 auto !important;
            top: -10px !important;
         }
      }
      .companyGrowth{
         position: absolute;
         top: 220px;
      }
      .iconGroup{
         position: relative;
         top: -30px;
         justify-content: center;
         padding: 0px;
         svg{
            margin-right: 6px;
            display: inline-block;
            position: relative;
            top: -10px;
            padding: 8px;
            box-sizing: border-box;
            border-radius: 6px;
         }
         .group{
            width: 118px;
            padding: 0px;
         }
         .textWrapper{
            display: inline-block;
         }
         .years{
            font-size: 14px;
            text-align: left;
         }
         .money{
            font-size: 16px;
         }
      }
   }
   .RevenuechartWrapper{

      .threeChartsWrapper{
         width: 32%;
         justify-content: space-between;
         padding: 0px;
         margin: 0px;
         .payments{
            width: 47%;
   
            box-sizing: border-box;
         }
         .revenue{
            width: 47%;
   
            box-sizing: border-box;
         }
         .profitReport{
            margin-top: 22px;
            width: 100%;
            box-sizing: border-box;
            height: 160px;
            margin-left: 0px;
            justify-content: space-between;
            position: relative;
            .textWrapper{
              width: 121px;
              padding: 0px;
            }
            .year{
               background-color: rgba(255, 171, 0,0.2);
               font-size: 12px;
               width: 80px;
               text-align: center;
               padding: 1px 2px;
               margin-top: 10px;
            }
            .changingText{
               padding:0px;
               width: auto;
               color: rgb(113, 221, 55);
               text-align: left;
            }
            svg{
               width: 16px;
               height: 16px;
               margin-right: 8px;
               color: rgb(113, 221, 55);
            }
            .lineChart{
               padding: 0px;
               height: 160px;
               overflow: hidden;
               canvas{
                  height: 300px !important;
                  position: relative !important;
                  top: -80px !important;
               }
            }
         }
         h5{
            margin-bottom: 6px;
         }
         h4{
            text-align: left;
            margin-top: 4px;
         }
      }
   }
   .statisticWrapper{
      height: 1040px;
      max-width: 1400px;
      padding: 20px;
      box-sizing: border-box;
      width: calc(96vw - 240px);
      margin: 0 auto;
      justify-content: space-between;
      padding: 0px;
      gap:10px;
       .chart{
          box-shadow: 0px 2px 10px rgba(50, 71, 92, 0.1);
          border-radius:8px;
          height: 500px;
       }
       .statisticM{
          width: 32%;
       }
       .statisticL{
         width: 49%;
       }
       .OrderStatistics{
         .header{
            margin-bottom: 8px;
         }
         .subHeader{
            margin-bottom: 20px;
         }
         .totalOrder{
            width: 108%;
            position: relative;
         }
         .chartWeekly{
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -50px;
            right: -30px;
            .textContainer{
               display:flex;
               align-items: center;
               justify-content: center;
               position: absolute;
               margin-left: 6px;
               margin-top: 8px;
            }
         }
         .categoryList{
            align-items: center;
            list-style: none;
            position: relative;
            top: -80px;
            li{
               align-items: center;
               margin-bottom: 20px;
            }
            .leftWrapper{
              display: flex;
              align-items: center;
            }
            .textWrapper{
               width: 140px;
               padding: 0px;
               display: inline-block;
               .header{
                  font-size: 16px;
                  margin-bottom: 4px;
               }
               p{
                  font-size: 14px;
                  padding: 0px;
                  text-align: left;
               }
            }
            .number {
               font-size: 16px;
               line-height: 50px;
            }
            svg{
               width: 38px;
               height: 38px;
               border-radius: 4px;
               padding: 8px;
               box-sizing: border-box;
               display: inline-block;
               margin-right: 10px;
            }
         }
       }
       .TotalIncome{
         overflow: hidden;
         position: relative;
         .topWrapper{
            .leftWrapper{
               svg{
                  width: 50px;
                  height: 50px;
                  padding: 12px;
                  box-sizing: border-box;
                  display: inline-block;
                  border-radius: 6px;
               }
            }
            .rightText{
               .header{
                  font-size:16px ;
                  
               }
               .changingText{
                  font-size: 14px;
                  color: #8fdf82;
                  margin-left: 6px;
                  font-weight: 0;
                  svg{
                     width: 16px;
                     height: 16px;
                     margin-right: 6px;
                  }
               }
            }
         }
         .bottomWrapper{
            position: relative;
            .chartGroup{
               position: relative;
               left: -100px;
            }
            .textWrapper{
                position: relative;
                top: -80px;
                text-align: left;
                left: 40%;
            }
            canvas{
               position: absolute !important;
               left: 0 !important;
            }
            h6{
               // left: 80px;
            }
         }
         canvas{
            position: relative !important;
            left: -18% !important;
         }
       }
       .Transactions{
         position: relative;
         .categoryList{
            top: 20px;
            position: relative;
            padding:0px;
            align-items: center;
            list-style: none;
            position: relative;
            li{
               align-items: center;
               margin-bottom: 20px;
            }
            .leftWrapper{
              display: flex;
              align-items: center;
            }
            .textWrapper{
               width: auto;
               padding: 0px;
               display: inline-block;
               .header{
                  font-size: 14px;
                  margin-bottom: 4px;
               }
               p{
                  font-size: 16px;
                  padding: 0px;
                  text-align: left;
                  font-weight: 550;
               }
            }
            .number {
               font-size: 14px;
               line-height: 50px;
               padding-left: 0px;
            }
            img{
               width: 50px;
               height: 50px;
               border-radius: 4px;
               padding: 8px;
               box-sizing: border-box;
               display: inline-block;
               margin-right: 10px;
            }
         }
       }
       .ActivityTimeLine{
         position: relative;
         .line{
            width: 4px;
            height: 266px;
            position: absolute;
            top: 107px;
            left: 28px;
         }
         .ActivityWrapper{
            margin-top: 60px;
            padding-left: 30px;
         }
         .activity{
            margin-top: 50px;
            position: relative;
            .dot{
               position: absolute;
               width: 12px;
               height: 12px;
               border-radius: 50%;
               padding: 0px;
               // box-sizing: border-box;
               left: -14px;
               top: 6px;
            }
            .content{
               font-size: 14px;
            }
         }
         .leftWrapper{
            text-align: start;
         }
         .activityThing{
            margin-top: 16px;
            .textGroup{
               padding:0px;
            }
            .smallAvatar{
               width: 34px;
               height: 34px;
               margin-left: 0px;
               border: 3px solid #fff;
            }
         }
         img{
            width: 34px;
            height: 34px;
            margin-right: 8px;
            padding: 0px;
         }
         .pdf{
            width: 24px;
            height: 24px;
         }
         .avatar{
            border-radius: 50%;
            margin-left: 12px;
         }
         
       }
       .BrowerETC{
         .dataWrapper{

            .annotate{
               padding: 10px;
               box-sizing: border-box;
               position: relative;
               margin-top: 40px;
            }
            .annotateText{
               font-size: 14px;
               padding: 0px;
               position: relative;
               text-align: left;
            }
            ul{

               padding: 0px;
               li{
                  margin-top: 34px;
                  img{
                     width: 20px;
                     height: 20px;
                     padding: 0px;
                  }
                  .numbers{
                     font-size: 16px;
                  }
                  .name{
                     font-size: 16px;
                     width:84px;
                     padding-right: 0px;
                     text-align: left;
                  }
                  .visits{
                     font-size: 16px;
                     font-weight: 550;
                     padding: 0px;
                     margin-right: 14px;
                     width: 40px;
                  }
                  .dataInPercentage{
                     padding: 0px;
                  }
                  .processBar{
                     width: 50%;
                     overflow: hidden;
                     background-color: #ececec;
                     border-radius: 10px;
                     height: 10px;
                     position: relative;
                     .process{
                        border-radius: 10px;
                        height: 10px;
                        position: relative;
                        left: -14px;
                     }
                  }
                  .percentage{
                     padding: 0px;
                     display: inline-block;
                     margin-left: 10px;
                     width: 56px;
                  }
               }
            }
         }
       }
   }
}
.payments{
   justify-content: left;
   margin-right: 0px;
   margin-left: 0px;
   box-sizing: border-box;
   .changingText{
      padding:0px;
      width: auto;
      color: rgb(255, 62, 29);
   }
   h6{
      margin: 0px;
      h4{
         margin-top: 6px;
      }
   }
   svg{
      width: 16px;
      height: 16px;
      margin-right: 8px;
      color: rgb(255, 62, 29);
   }
   img{
      margin-bottom: 8px;
   }
}
.chart{
   box-sizing: border-box;
   padding: 20px;
   position: relative;
}
.PiechartRevenue{
   div{
      display: flex !important;
      justify-content: center !important;
      width: 100% !important;
   }
}

@media screen and (max-width: 1200px){
   .xl{
      width: 100% !important;
   }
   .s{
      width: 49% !important;
   }
   .chartWrapper{
      height: 390px !important;
   }
   .threeChartsWrapper{
      width: 100% !important;
      height: 180px !important;
      margin-top: 10px !important;
      .s{
         width: 23% !important ;
      }
      .m{
         width: 48% !important;
         height: 180px !important;
         margin-top: 0px !important;
         margin-right: 0px;
      }
   


   

   }
   .totalRevenChartBlock{
      height: 580px !important;
   }

.Analytics{
   .statisticWrapper{
      width:calc(96vw - 100px) !important;
      height: 2100px !important;
      .totalOrder{
        padding-right: 14px;
      }
      .statisticL{
         width: 100% !important;

      }
      .statisticM{
         width: 48% !important;
      }
      .OrderStatistics{
         width: 49% !important;
      }
      .statisticL-1200{
         width: 100% !important;
      }
   }
}

}